.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.form {
  width: 400px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.form > div {
  margin: 10px 0;
}

.name {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
}

select {
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding: 5px;
  border-bottom: 2px solid rebeccapurple;
  letter-spacing: 1px;
  margin: 3px 0;
}

input {
  outline: none;
  border: none;
  background-color: white;
  padding: 5px;
  border-bottom: 2px solid rebeccapurple;
  border-radius: 5px;
  margin: 3px 0;
}

textarea {
  outline: none;
  border: none;
  background-color: white;
  padding: 5px;
  border-bottom: 2px solid rebeccapurple;
  border-radius: 5px;
  margin: 3px 0;
}

.slots {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: center;
  padding: 20px 0;
}

.slot {
  cursor: pointer;
  width: 85px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px 2px;
  margin: 3px;
}

.slot:hover {
  transform: scale(0.98);
}

.btn {
  margin: 20px 0;
  padding: 10px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:focus {
  outline: none;
}
button:hover {
  transform: scale(0.98);
}

.notification {
  position: fixed;
  bottom: 0;
  right: 0;
}

.notification h3 {
  margin-right: 20px;
  padding: 3px 15px;
  border-radius: 15px;
  color: white;
  border-bottom-right-radius: 0;
}
